@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --foreground-color: #000;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--background-color); /* White background by default */
  color: var(--foreground-color); /* Black text by default */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --foreground-color: #fff;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  display: grid;
  max-width: 50%;
  border: 1px solid;
  padding: 16px;
  gap: 8px 0;
}

.header-name {
  display: flex;
}

.header-name-text {
  text-decoration: none;
  color: var(--foreground-color);
}

.header-name-text:hover {
  text-decoration: underline;
}

.bullet-header-links {
  margin-left: 24px;
  padding: 0;
  display: flex;
}

#post-content {
  display: grid;
  gap: 8px;
}

.back {
  text-decoration: none;
  color: var(--foreground-color);
}

.back:hover {
  text-decoration: underline;
}

a {
  color: var(--foreground-color);
}
